---
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogPost from '@components/BlogPost.astro';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('work');
const pageTitle = "Trabajo";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="post-list">
    {allPosts.map((post) => <BlogPost url={`/trabajo/${post.slug}`} title={post.data.title} />)}
  </div>
</BaseLayout>
