---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogTags from '@components/BlogTags.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

---
<BaseLayout pageTitle={entry.data.title}>
  <p>{new Intl.DateTimeFormat("es-CO", { dateStyle: "full" }).format(entry.data.date)}</p>
  {entry.data.image &&
    <img src={entry.data.image} width="300" alt="Imagen destacada" />
  }
  <BlogTags route="/blog/tags/" tags={entry.data.tags} />
  <Content />

  {entry.data.gist &&
    <script src={`${entry.data.gist}.js`} is:inline></script>
  }

</BaseLayout>
