:root {
  --bg-color-light: #ffffff;
  --bg-color-dark: #232323;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
  --accent-color-light: #4e4e4e;
  --accent-color-dark: #757575;

  --colors-text: #222;
  --colors-primary: #004f53;
  --colors-background: #fff;
  --colors-hover: #993399;
  --colors-secondary: #1B1F23;
  --colors-muted: hsla(0, 0, 0, 0.2);
  --colors-highlight: rgba(255, 229, 100, 0.2);
  --colors-heading: #1F1E24;
  --colors-blogBg: #eee;
  --colors-sidebar-background: #004f53;
  --colors-sidebar-color: #fff;
  --colors-sidebar-hover: #B8FFFF;
  --colors-timeline-workBG: #004f53;
  --colors-timeline-academicBG: #993399;
  --colors-timeline-previousWorkBG: #777;
  --colors-timeline-iconColor: #fff;
}

.dark {
  --colors-text: #DCDCDC;
  --colors-primary: #91DEDE;
  --colors-background: #130302;
  --colors-hover: #D9BAE8;
  --colors-secondary: #DCDCDC;
  --colors-muted: hsla(0, 0%, 100%, 0.2);
  --colors-highlight: #E7B8FF;
  --colors-heading: #fff;
  --colors-blogBg: #0a0a0a;
  --colors-sidebar-background: #004f53;
  --colors-sidebar-color: #fff;
  --colors-sidebar-hover: #B8FFFF;
  --colors-timeline-workBG: #004f53;
  --colors-timeline-academicBG: #993399;
  --colors-timeline-previousWorkBG: #777;
  --colors-timeline-iconColor: #fff;
}

html {
  color: var(--colors-text);
  background-color: var(--colors-background);
  font-family: sans-serif;
}

.main-content {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem 1rem 7rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}


/* estilos de la barra de navegación*/
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--colors-primary);
}

a {
  color: var(--colors-primary);
  background-color: var(--colors-background);
}

a:hover,
a:focus {
  color: var(--colors-hover);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

img{
  max-width: 100%;
  height: auto;
}

/*
  Improved screen reader only CSS class
  @author Gaël Poupard
    @note Based on Yahoo!'s technique
    @author Thierry Koblentz
    @see https://www.cssmojo.com/hide-content-from-sighted-users/
*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;            /* 3 */
}

/*
  Use in conjunction with .sr-only to only display content when it's focused.
  @note Useful for skip links
  @see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
  @note Based on a HTML5 Boilerplate technique, included in Bootstrap
  @note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
    @author Sylvain Pigeard
    @see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
    clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

/*
Sidebar
*/
.sidebar {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  background: var(--colors-sidebar-background);
  height: 100vh;
  text-align: left;
  padding: 1rem;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  overflow: auto;
  width: 100%;
  min-height: 300px;
}

.sidebar-content {
  min-height: 300px;
}

.sidebar-logo {
  width: 128px;
}

.sidebar a {
  font-size: 1.2rem;
  font-weight: 500;
  background: var(--colors-sidebar-background);
  color: var(--colors-sidebar-color);
  font-family: "Alegreya Sans", sans-serif;
  text-decoration: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  overflow-wrap: break-word;
}

.sidebar a:hover {
  color: var(--colors-sidebar-hover);
}

.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.sidebar-subtitle {
  font-size: 1rem;
  margin: 0px;
}

.sidebar-home-link {
flex-direction: column;
text-align: center;
}
.sidebar-separator {
  width: 10%;
  margin: 1rem auto 0px;
}

.sidebar.sidebar-open {
  transform: translateX(0px);
}

.hamburger {
  position: fixed;
  top: 1.2rem;
  left: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  z-index: 101;
}

.hamburger-bg::before {
  content: "";
  top: 0.5rem;
  left: 0.5rem;
  position: fixed;
  width: 48px;
  height: 48px;
  background: var(--colors-blogBg);
  z-index: 99;
  border-radius: 10px;
}

.hamburger div {
  width: 1.5rem;
  height: 0.25rem;
  background: var(--colors-primary);
  border-radius: 10px;
  transition: all 0.3s linear 0s;
  position: relative;
  transform-origin: 1px center;
}

.line-top {
  transform: rotate(0deg);
}
.line-center {
  opacity: 1;
  transform: translateX(0px);
}
.line-bottom {
  transform: rotate(0deg);
}

.sidebar-open .line-top {
  transform: rotate(45deg);
}
.sidebar-open .line-center {
  opacity: 0;
  transform: translateX(20px);
}
.sidebar-open .line-bottom {
    transform: rotate(-45deg);
}

.sidebar-open.hamburger div {
  background: var(--bg-color-light);
}

.header {
  margin: -10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: 0 0 8px var(--colors-primary);
  min-height: 4rem;
  padding-bottom: 10px;
}
.header-spacing {
  margin-left: auto;
  margin-right: auto;
  min-width: 3rem;
}
.header-title {
  text-align: center;
  font-size: 42px;
  color: var(--colors-primary);
  font-family: sans-serif;
  position: relative;
  top: 5px;
  margin: 0px 1rem;
  font-weight: 400;
}

.footer {
  margin-top: 1rem;
  margin-left: 0px;
  margin-right: 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 6rem;
  padding-left: 29px;
  padding-right: 29px;
}

.footer-profile {
  box-sizing: border-box;
  margin: 14.5px 0px;
  min-width: 0px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  border-top: 1px solid var(--colors-primary);
  padding-top: 14.5px;
}

.footer-name {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: var(--colors-primary);
  transition: color 0.3s linear;
  overflow-wrap: break-word;
  text-decoration: none;
  font-family: 'Segoe Script', cursive;
  font-size: 2rem;
}

.footer-avatar {
  margin-right: 14.5px;
  border-radius: 50%;
}

.footer-profile-text {
  box-sizing: border-box;
  min-width: 0px;
  text-align: center;
  margin: auto;
}

.footer-container {
  box-sizing: border-box;
  margin: 0px auto;
  min-width: 0px;
  width: 100%;
  max-width: 1280px;
}

.footer p {
  margin: 0.5rem;
}

@media (min-width: 830px) {
  .hamburger, .hamburger-bg {
      display: none;
    }
  .sidebar {
    width: 280px;
  }
}

@media (max-width: 829px) {
  .sidebar {
    transform: translateX(-100%);
  }
}
