---
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Selecciona tu idioma</title>
  </head>
  <body>
    <p>Detectando tu idioma preferido…</p>
    <script>
      import "../scripts/language-redirect.js";
    </script>
    <noscript>
      <meta http-equiv="refresh" content="0;url=/en/" />
    </noscript>
  </body>
</html>
