---
interface Props {
	tags: string[],
  route: string
}
const { tags, route } = Astro.props;
---

<div class="tags">
  {tags.map((tag) => (
    <a href={`${route}${tag}`}><p class="tag">{tag}</p></a>
  ))}
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 2px var(--colors-primary);
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
  }

  .tag:hover {
    border: dotted 2px var(--colors-hover);
  }
</style>
