---
export type Props = Record<string, never>;
---
<button aria-label="Alternar barra lateral" class="hamburger" data-testid="hamburger">
  <span class="hamburger-lines" aria-hidden="true">
    <span class="line-top"></span>
    <span class="line-center"></span>
    <span class="line-bottom"></span>
  </span>
</button>
<div class="hamburger-bg"></div>
