---
---

<div class="nav-links">
  <a href="/">Inicio</a>
  <a href="/about/">Sobre mi</a>
  <a href="/blog/">Blog</a>
  <a href="/blog/tags/">Etiquetas</a>
  <a href="/portafolio/">Trabajo</a>
</div>
