---
---

<div class="nav-links">
  <a href="/">Inicio</a>
  <a href="/about/">Sobre mi</a>
  <a href="/charla/">Charlas</a>
  <a href="/blog/">Blog</a>
  <a href="/trabajo/">Trabajo</a>
  <a href="/comunidad/">Comunidad</a>
  <a href="/proyecto/">Proyectos</a>
</div>
