---
---

<div class="post-list">
  <slot />
</div>

<style>
.post-list {
  box-sizing: border-box;
  margin: 5px auto 0px;
  min-width: 0px;
  max-width: 100rem;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 3%;
  background-color: var(--colors-blogBg);
  padding: 1rem;
  container-type: inline-size;
}
</style>
