---
---

<div class="post-list">
  <slot>
</div>

<style>
.post-list {
  box-sizing: border-box;
  margin: 5px 0px 0px;
  min-width: 0px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 3%;
  background-color: var(--theme-ui-colors-blogBg);
  padding: 1rem;
}
</style>
