---
import { Image } from "astro:assets";
interface Props {
	title: string
  url: string
  image?: ImageMetadata
}
const { title, url, image } = Astro.props
---

<a class="card" href={url}>
  <span class="card-content">
    {image &&
      <Image src={image} alt="featured image" />
    }
    <h2 class="card-title">{title}</h2>
    <div class="card-details">
      <slot/>
    </div>
  </span>
</a>
<style>
  .card {
    box-sizing: border-box;
    min-width: 0px;
    box-shadow: 0 0 8px var(--colors-primary);
    margin: 0px 0px 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    transition: box-shadow 0.3s ease-out 0.1s, transform 0.3s ease-out, opacity 0.2s ease-out;
    flex: 0 1 100%;
    padding: 1rem;
    background: var(--colors-background);
  }
  .card:hover {
    transform: translate(0px, -4px);
    box-shadow: 0 2px 14px var(--colors-hover);
  }
  .card-content {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: var(--colors-primary);
  }
  .card-title {
    margin: 0;
  }
  .card-details {
    color: var(--colors-text);
  }
</style>
