---
const { iframeId, title, ...props} = Astro.props;
---
<div class="iframe-wrapper">
  <iframe
    id={iframeId}
    title={title}
    {...props}>
  </iframe>
</div>

{/* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */}
<style>
  .iframe-wrapper {
    position: relative;
    overflow: hidden;
    word-wrap: 100%;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
</style>
