---
interface Props {
	tags: string[],
  route: string,
  current?: string
}
const { tags, route, current } = Astro.props;
---

<div class="tags" data-testid="tags">
  {tags.map((tag) => (
    <a href={`${route}${tag}`} class={current === tag ? "tag active" : "tag"} data-testid={`tag-link-${tag}`}><p>{tag}</p></a>
  ))}
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tags a {
    text-decoration: none;
  }

  .tag {
    margin: 0.5rem;
    border: dotted 2px var(--colors-primary);
    border-radius: .5em;
  }

  .tag.active {
    border: dashed 2px var(--colors-hover);
    color: var(--colors-hover);
  }

  .tag p {
    font-size: 1.15em;
    padding: .5rem 1rem;
    margin: 0 auto;
  }

  .tag:hover {
    border-color: var(--colors-hover);
  }
</style>
