---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
import SiteLayout from './SiteLayout.astro';

interface Props {
  pageTitle: string
  description?: string
}

const { pageTitle, description } = Astro.props
---
<SiteLayout pageTitle={pageTitle} description={description}>
  <Header title={pageTitle} />
  <main class="main-content">
    <slot />
  </main>
  <Footer />
</SiteLayout>
